<html data-theme="light">
    {% include "static/headers.html" without context %}
<body>
    {% include "static/navbar.html" without context %}
    <div class="mx-4 xl:mx-20 mt-32">
        {% include "static/hero.html" without context %}
        {% include "top_vacancies.html" %}
        {% include "all_vacancies.html" %}
    </div>
    {% include "static/footer.html" %}
    {% include "static/cookie.html" without context %}
    <script>
    var typed = new Typed('#element', {
        strings: ['следующую работу', 'первую работу', 'работу в IT'],
        typeSpeed: 100,
        backSpeed: 50,
        loop: true
    });
    </script>
</body>
</html>
