
{% set filter_class = 'text-2xl p-5 lg:text-sm lg:p-2 font-semibold badge badge-lg badge-primary badge-outline m-1' %}
<div class="flex flex-row mx-6 justify-center mb-6">
    <button class="filter-button-{{id}} {{filter_class}}" data-filter="new">🆕 New (Последние 24 часа)</button>
</div>
<div class="flex flex-row justify-center">
    <div class="flex flex-col mx-4">
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="remote">🌎 Remote</button>
    </div>
    <div class="flex flex-col ml-8 lg:ml-16">
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="intern">Intern</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="junior">Junior</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="middle">Middle</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="senior">Senior</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="lead">Lead</button>
    </div>
    <div class="flex flex-col ml-8 lg:ml-16">
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="frontend">Frontend</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="backend">Backend</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="fullstack">Fullstack</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="qa">QA</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="ios">iOS</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="android">Android</button>
    </div>
    <div class="flex flex-col">
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="product">Product</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="data">Data</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="design">Design</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="analyst">Analyst</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="sysadmin">SysAdmin</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="devops">DevOps</button>
    </div>
    <div class="flex flex-col ml-8 lg:ml-16">
        <button class="filter-button-{{id}} {{filter_class}}" data-filter=".net">.Net</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="golang">Go</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="python">Python</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="java_">Java</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="c++">C++</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="c#">C#</button>
    </div>
    <div class="flex flex-col">
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="php">php</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="javascript">JS</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="react">React</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="node">node</button>
        <button class="filter-button-{{id}} {{filter_class}}" data-filter="sql">SQL</button>
    </div>
</div>

<table id="{{id}}" style="width:100%">
<thead style="display: none;">
    <tr>
    <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
    >
        Позиция
    </th>
    <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
    >
        Компенсация
    </th>
    <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
    >
        Компания
    </th>
    <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
    >
        Город
    </th>
    <th
        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
    >
        Теги
    </th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<script>
    table{{id}} = new DataTable('#{{id}}', {
        createdRow: function( row, data, dataIndex ) {
            let className = 'border-2 rounded-xl border-black hover:scale-105 p-2 shadow rounded  transition'
            if (data[6] == "techhunter.kz") {
                className += ' !bg-purple-50 overflow-hidden' ;
            }
            console.log(className)
            $(row).addClass(className);
        },
        columns: [
            { title: 'Позиция' },
            { title: 'Компания' },
            { title: 'Компенсация' },
            { title: 'Город' },
            { title: 'Теги' }
        ],
        order: [],
        data: [
            {% for vacancy in vacancies %}
                [
                    "{{vacancy.title}}",
                    "{{vacancy.company}}",
                    "{{vacancy.salary or 'Зарплата не указана'}}",
                    "{{vacancy.city}}",
                    "{{vacancy.tags}}",
                    "{{vacancy.url}}",
                    "{{vacancy.source}}"
                ],
            {% endfor %}
        ],
        initComplete: function(settings, json) {
          $('.dataTables_filter').removeClass('dataTables_filter').addClass('font-semibold rounded-md');
          $('input[aria-controls="{{id}}"]').addClass('input input-bordered w-[42rem] shadow text-5xl py-10 lg:text-2xl lg:p-6 mx-auto font-semibold text-slate-600 ml-3').attr('id', 'tableSearch{{id}}');
          $('.dataTables_paginate').addClass('p-6 font-bold');
          $('.dataTables_length').remove();
          $('.dataTables_info').addClass('p-6 font-bold');
          $('#{{id}}_filter').addClass('flex justify-center');
          $('#{{id}}_filter label').addClass('mb-12 flex items-center text-6xl lg:text-4xl mt-8 font-extrabold').contents().filter(function(){ return this.nodeType != 1; }).remove();
          $('#{{id}}_filter label').prepend('🔎')
        },
        {% set column_class = 'h-32 lg:h-20 border-gray-200 text-2xl lg:text-xl' %}
        columnDefs: [
              {
                  targets: 0,
                  render:  function ( data, type, row ) {
                      return `<a href=`+row[5]+` target='_blank'>
                              <div class="flex">
                                <p class="my-auto max-h-full overflow-hidden text-gray-900 font-bold">`
                                  + data + `</p>
                        </div></a>`;
                  },
                  className: '{{column_class}}' + ' rounded-l-xl'
              },
              {
                  targets: [],
                  render:  function ( data, type, row ) {
                      return `<p class="text-gray-900 whitespace-no-wrap">`+data+`</p>`
                      
                  },
                  className: '{{column_class}}'
              },
              {
                  targets: [1,2],
                  render:  function ( data, type, row ) {
                      return `<div class="flex">
                            <div class="ml-3">
                            <p class="text-gray-900 font-medium text-xl lg:text-base whitespace-no-wrap">`
                                + data +
                            `</p>
                            </div>
                        </div>`;
                  },
                  className: '{{column_class}}'
              },
              {
                  targets: [3],
                  render:  function ( data, type, row ) {
                      return `<span
                            class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight text-xl lg:text-base"
                        >
                            <span
                            aria-hidden
                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"
                            ></span>
                            <span class="relative">`+data +`</span>
                        </span>`;
                  },
                  className: '{{column_class}}'  + ' rounded-r-xl'
              },
              {
                    target: 4,
                    visible: false
              }
        ]
    });
    var activeFilters{{id}} = {};

    $('.filter-button-{{id}}').click(function() {
        var filter = $(this).data('filter');
        if (activeFilters{{id}}[filter]) {
            delete activeFilters{{id}}[filter];
            $(this).addClass('badge-outline');
        } else {
            activeFilters{{id}}[filter] = true;
            $(this).removeClass('badge-outline');
        }
        let regex = '';
        for (var filter in activeFilters{{id}}) {
            filter = filter.replace('+', '\\+')
            regex += '(?=.*'+filter+')';
        }
        table{{id}}.columns(4).search(regex, true, false, true).draw();
    });

    var typed{{id}} = new Typed('#tableSearch{{id}}', {
        strings: ['Junior', 'Javascript', 'Алматы'],
        typeSpeed: 100,
        backSpeed: 50,
        attr: 'placeholder',
        smartBackspace: true,
        loop: true
    });
  </script>