<div id="all-vacancies"
    class="container  mx-auto px-1 lg:px-8 bg-white bg-opacity-100 rounded-3xl px-4 max-w-screen-xl">
    <div class="mt-12 py-8">
        <div class="flex flex-col items-center justify-center ">
            <h1 class="text-4xl font-bold tracking-tight text-slate-900 ">
                Free CV Review / Бесплатное Ревью Резюме
            </h1>
            <br />
            <p class="text-xl font-light mt-2 mb-8">
                В <a href="https://t.me/techhunterkz" target="_blank"
                    class="btn btn-success normal-case lg:text-base  font-base">
                    телеграмм группе </a>
                можно получить бесплатное ревью резюме от ResumeGPT за 1 минуту.
            </p>
            <p class="text-xl ">
                <b>Как это работает:</b>
            </p>

            <br />
            <ul>
                <li>
                    1. Зайдите в <b>телеграмм группу</b>
                </li>
                <li>
                    2. Отправьте свое резюме в топик "РезюмеGPT - Фидбек за минуту" в формате PDF
                </li>
                <li>
                    3. Получите обратный отзыв от ResumeGPT за одну минуту
                </li>
            </ul>
            <br />

            Мы подобрали промпт который покрывает 95% основных ошибок в резюме. И поможет быстро улучшить его.
        </div>
    </div>
</div>