<footer class="footer-1 bg-gray-100 py-8 sm:py-12">
    <div class="container mx-auto px-4">
      <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
        <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
          <h5 class="text-xl font-bold mb-6">Мои другие проекты:</h5>
          <ul class="list-none footer-links">
            <li class="mb-2">
              <a href="https://www.parallaxai.app/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">ParallaxAI - Аватарки в Казахском Стиле</a>
            </li>
            <li class="mb-2">
              <a href="https://diassadykov.github.io/PathfinderVisualizer/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Визуализатор Алгоритмов Поиска</a>
            </li>
            <li class="mb-2">
                <a href="https://diassadykov.substack.com/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Мой блог</a>
            </li>
          </ul>
        </div>
        <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 sm:mt-0">
          <h5 class="text-xl font-bold mb-6">Мои соц. сети:</h5>
          <ul class="list-none footer-links">
            <li class="mb-2">
              <a href="https://www.instagram.com/dias_jpg/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Instagram</a>
            </li>
            <li class="mb-2">
              <a href="https://www.linkedin.com/in/dias-sadykov/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">LinkedIn</a>
            </li>
            <li class="mb-2">
                <a href="https://t.me/dailydias" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Написать мне</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 pt-6 sm:mt-12 sm:pt-12 border-t">
        <div class="sm:w-full px-4 md:w-1/6">
          <strong>Dias Sadykov</strong>
        </div>
        <div class="px-4 sm:w-1/2 md:w-1/4 mt-4 md:mt-0">
          <h6 class="font-bold mb-2">Адрес</h6>
          <address class="not-italic mb-4 text-sm">
            Сделано из Таллинна<br> 
          </address>
        </div>
        <div class="px-4 md:w-1/4 md:ml-auto mt-6 sm:mt-4 md:mt-0">
          <a href="https://t.me/techhunterkz" target="_blank" class="px-4 py-2 bg-purple-800 hover:bg-purple-900 rounded text-white">Новые Вакансии в Telegram</a>
        </div>
      </div>
    </div>
  </footer>