<div class="navbar bg-red-600 color-white">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl text-white">
            <div class="w-10 rounded-full">
                <img src="https://i.postimg.cc/vZDH6jyp/Untitled-11.png">
            </div>
            TechHunter
        </a>
        <p class="normal-case text-xl text-white">-</p>
        <a href="https://t.me/techhunterkz" target="_blank" class="btn btn-ghost normal-case text-xl text-white underline">Новые вакансии каждый день в Telegram </a>
    </div>
    <div class="flex-none">
        <a href="/signup" class="btn btn-ghost normal-case text-xl text-white underline">Подать вакансию</a>
    </div>
</div>
<div class="navbar rounded-b-md min-h-0 p-1 bg-red-500 text-white color-white">
  <div class="flex-none">
    <ul class="menu !p-0 !m-0 menu-horizontal px-1 text-2xl lg:text-sm">
      <li>
        <details>
            <summary>
            Вакансии 👩‍💻
            </summary>
            <ul class="p-2 mt-12 bg-red-700">
            <li><a href="/#top-vacancies">Популярные компании 🔥</a></li>
            <li><a href="/#all-vacancies">Все вакансии 👩‍💻</a></li>
            </ul>
        </details>
      </li>
      <li><a href="/companies" class="text-2xl lg:text-sm">Компании 💼</a></li>
    </ul>
  </div>
</div>
