<div class="navbar bg-red-600 color-white">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl text-white">
            <div class="w-10 rounded-full">
                <img src="https://i.postimg.cc/vZDH6jyp/Untitled-11.png">
            </div>
            TechHunter
        </a>
        <p class="normal-case text-xl text-white">-</p>
        <a href="https://t.me/techhunterkz" target="_blank" class="btn btn-ghost normal-case text-xl text-white underline">Новые вакансии каждый день в Telegram </a>
    </div>
    <div class="flex-none">
        <a href="/signup" class="btn btn-ghost normal-case text-xl text-white underline">Подать вакансию</a>
    </div>
</div>
