<html data-theme="light">
    {% include "static/headers.html" without context %}
<body>
    {% include "static/navbar.html" without context %}
    <div class="mx-5 xl:mx-20 mt-12">
        <div  class="flex flex-col items-center justify-center ">
            <h1 id="top-vacancies" class="text-5xl lg:text-4xl font-bold tracking-tight text-slate-900 ">
                Все компании 💼
            </h1>
            <p class="text-2xl lg:text-xl font-light mt-2 mb-7 px-12 text-center">
                Мы собираем информацию о всех IT компаниях в Казахстане, для того чтобы вы могли сравнить их и выбрать лучшую для себя
            </p>
        </div>
    </div>
    <div class="mx-12 mb-14 flex flex-col">
        <ul role="list" class="divide-y divide-gray-100">
            {% for company in companies %}
                <a href="/company/{{company.id}}">
                    <li class="flex justify-between gap-x-6 py-5 shadow-md border rounded-xl p-12 my-2 hover:scale-105 transition">
                        <div class="flex min-w-0 gap-x-4">
                            <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{{company.logo_url}}" alt="">
                            <div class="min-w-0 flex-auto">
                            <p class="font-semibold leading-6 text-gray-900 text-2xl lg:text-sm">{{company.name}}</p>
                            <p class="mt-1 truncate text-lg lg:text-xs leading-5 text-gray-500">{{company.description}}</p>
                            </div>
                        </div>
                        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                            <div class="badge badge-accent badge-outline capitalize text-xl lg:text-sm p-4 lg:p-2">{{company.type}}</div>
                            <p class="mt-1 text-lg lg:text-xs leading-5 text-gray-500">Тип Компании</time></p>
                        </div>
                        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                            <div class="badge badge-accent badge-outline capitalize banking text-xl lg:text-sm p-4 lg:p-2">{{company.industry}}</div>
                            <p class="mt-1 text-lg lg:text-xs leading-5 text-gray-500">Индустрия</time></p>
                        </div>
                        <div class="rating">
                            <input disabled type="radio" name="rating-4" class="mask mask-star-2 bg-gray-100" />
                            <input disabled type="radio" name="rating-4" class="mask mask-star-2 bg-gray-100" />
                            <input disabled type="radio" name="rating-4" class="mask mask-star-2 bg-gray-100" />
                            <input disabled type="radio" name="rating-4" class="mask mask-star-2 bg-gray-100" />
                            <input disabled type="radio" name="rating-4" class="mask mask-star-2 bg-gray-100" />
                        </div>
                    </li>
                </a>

            {% endfor %}
          </ul>
          <a href="/company/add" class="btn btn-wide m-auto mt-7 btn-outline success">Добавить компанию</a>
        </div>
    {% include "static/footer.html" %}
    {% include "static/cookie.html" without context %}
</body>
</html>
