<html data-theme="light">
    {% include "static/headers.html" %}
<body>
    {% include "static/navbar.html" without context %}
    <div class="mx-5 xl:mx-20 mt-12">
        <div class="mx-2">
            <a href="/companies" class="btn  normal-case text-xl mb-6 bg-white bg-opacity-100">Назад</a>
        </div>
        <div  class="flex flex-col items-center justify-center shadow-md bg-white bg-opacity-100 pt-12 rounded-xl">
            <img class="h-24 w-24 flex-none rounded-xl bg-gray-50" src="{{company.logo_url}}" alt="">
        
            <h1 id="top-vacancies" class="text-4xl font-bold tracking-tight text-slate-900 ">
                {{company.name}}
            </h1>
        <div class="w-full px-12">
            <p class="mt-1 text-xs leading-5 text-gray-500">Тип Компании</time></p>
            <div class="badge badge-accent badge-outline capitalize :text-sm mt-1 mb-2">{{company.type}}</div>
            <p class="mt-1 text-xs leading-5 text-gray-500">Индустрия</time></p>
            <div class="badge badge-accent badge-outline capitalize :text-sm mt-1 mb-2">{{company.industry}}</div>
            <br/>
            <p class="mt-1 text-xs leading-5 text-gray-500">Технологический стек</time></p>
            <div class="badge badge-accent badge-outline capitalize text-sm  mt-1 mb-2">{{company.tech_stack}}</div>
            <p class="text-base  mt-2 mb-7"><span style="white-space: pre-line">{{company.description}}</span></p>
        </div>
        <a href="{{company.website_url}}" class="btn btn-wide m-auto mb-12 btn-outline btn-success">Перейти на сайт компании</a>

        </div>
    </div>
    <div class="mx-12 mb-14 flex flex-col">
    </div>
    {% include "static/footer.html" %}
    {% include "static/cookie.html" without context %}
</body>
</html>
